/* header :start */

header {
    width: 100%;
    height: 580px;
    background: url(../img/1.webp) no-repeat #000;
    background-size: cover;
    background-position-y: -30px;
}

.nav {
    height: 50px;
    line-height: 50px;
    background-color: #1c1c1c;
    overflow: hidden;
}

.nav img {
    float: left;
    height: 20px;
    margin: 15px 0;
    padding: 0 20px;
    border-left: 1px solid #999795;
    color: #fff;
    filter: contrast(0%);
    cursor: pointer;
}

.nav img:first-child {
    padding-left: 0;
    border: 0;
}

.nav img:nth-child(4) {
    filter: contrast(0%);
}

.nav img:hover {
    filter: contrast(100%);
}

.nav a {
    padding: 0 30px;
    border-right: 1px solid #999795;
    font-size: 15px;
    color: #8e8e8e;
    vertical-align: middle;
}

.nav a:last-child {
    border: 0;
}

.nav a:hover {
    color: #fff;
}

.nav a em {
    font-size: 20px;
}

.fixed {
    position: fixed;
    top: -80px;
    width: 100%;
    height: 80px;
    background-color: rgba(0, 0, 0, .8);
    z-index: 999;
}


/* navSecond :start */

.navSecond {
    position: relative;
    width: 1200px;
    height: 80px;
    margin: 0 auto;
    line-height: 80px;
    font-size: 30px;
}

.block {
    height: 80px;
    line-height: 80px;
    margin-left: 20px;
    color: #999795;
    cursor: pointer;
}

.block:hover {
    color: #fff;
}

.navSecond .right a {
    margin-left: 30px;
    margin-right: 10px;
    color: #b4b4b4;
}

.navSecond .right a:hover {
    color: #fff;
}

.middle {
    margin: 0 auto;
    width: 250px;
    font-size: 48px;
    text-align: center;
}

.pro {
    position: absolute;
    top: 250px;
    left: 160px;
    height: 200px;
    width: 400px;
}

.pro h3 {
    line-height: 40px;
    font-size: 24px;
    font-weight: 600;
    cursor: default;
}

.pro p {
    line-height: 20px;
    font-size: 16px;
    font-weight: 200;
}

.pro button {
    margin-top: 20px;
    padding: 15px 20px;
    border: 2px solid #00B8FC;
    border-radius: 4px;
    font-size: 14px;
    background-color: #00B8FC;
    cursor: pointer;
}

.pro button:hover {
    color: #00B8FC;
    background-color: transparent;
}


/* navSecond :end */