#modify_infor {
    display: none;
    position: relative;
    top: 80px;
}

#modify_infor i {
    margin: 0 15px;
}

#infor_return {
    width: 100%;
    height: 46px;
    line-height: 26px;
    margin-bottom: 15px;
    padding: 10px 8px;
    border-bottom: 1px solid #cdcdcd;
    color: #828282;
    font-size: 14px;
    background-color: #fff;
}

#infor_return:hover {
    color: #1e80ff;
}

#infor_left {
    float: left;
    width: 230px;
    height: 626px;
    padding: 8px;
    color: #828282;
    background-color: #fff;
}

#infor_left ul {
    width: 100%;
}

#infor_left li {
    float: left;
    width: 100%;
    height: 48px;
    line-height: 48px;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
}

#infor_left li:hover {
    color: #1e80ff;
    background-color: rgba(30, 128, 255, .1);
}

#infor_right {
    position: relative;
    float: right;
    width: 946px;
    height: 626px;
    padding: 20px;
    background-color: #fff;
}

#infor_form {
    float: left;
    width: 580px;
}

#infor_form h3 {
    margin-bottom: 20px;
}

#infor_form div {
    padding: 12px;
    border-top: 1px solid #e0e0e0;
}

#infor_form em {
    float: left;
    width: 90px;
    height: 13px;
    line-height: 36px;
    font-size: 13px;
}

#infor_form input,
#infor_form textarea {
    width: calc(100% - 130px);
    padding: 4px 8px;
    border: 1px solid #cdcdcd;
    border-radius: 2px;
    background-color: #f3f3f3;
    transition: all .3s ease-out;
}

#infor_form input:hover,
#infor_form textarea:hover {
    background-color: #cdcdcd;
}

#infor_form input {
    height: 20px;
}

#infor_form textarea {
    outline: none;
    resize: none;
}

#infor_form #submitUser {
    width: 100px;
    height: 40px;
    margin: 0 auto;
    border-radius: 3px;
    color: #fff;
    background-color: #1e80ff;
}

#infor_form #submitUser:hover {
    background-color: #4293fd;
}

#subImg {
    position: absolute;
    top: 80px;
    right: 160px;
    width: 100px;
    color: #828282;
    font-size: 12px;
    text-align: center;
}

#subImg input {
    display: none;
}

#subImg img {
    width: 80px;
    height: 80px;
    border-radius: 120px;
}

#subImg h4 {
    margin: 8px 0;
    color: #000;
    font-size: 13px;
    font-weight: 400;
}

#subImg p {
    transform: scale(.9);
}

#changePwd_win {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 260px;
    padding: 30px;
    border-radius: 4px;
    background-color: #fff;
    transform: translateX(-50%) translateY(50%);
    box-shadow: 0 0 20px 5px #cdcdcd;
    z-index: 199;
}

#changePwd_win div {
    position: relative;
    flex: 1;
    line-height: 50px;
}

#changePwd_win input {
    width: 260px;
    height: 30px;
    padding: 0 10px;
    margin-left: 20px;
    border: 1px solid #828282;
}

#changePwd_win div:nth-child(4) {
    margin-left: 200px;
}

#changePwd_win button {
    margin: 0 8px;
    padding: 8px 20px;
    border-radius: 3px;
    color: #fff;
    border: 1px solid #1e80ff;
    background-color: #1e80ff;
}

#changePwd_win button:hover {
    background-color: #4495ff;
}

#changePwd_win i:hover {
    color: #1e80ff;
}

#changePwd_win p {
    position: absolute;
    left: 118px;
    bottom: -25px;
    font-size: 12px;
    transform: scale(.8);
}