#userinfor {
    display: none;
    position: relative;
    top: 80px;
    width: 970px;
    margin: 0 auto;
}

#userinfor_right {
    width: 240px;
}

#userinfor_right div {
    display: flex;
    width: 100%;
    height: 76px;
    padding: 16px 0;
    border-radius: 4px;
    margin-bottom: 10px;
    box-sizing: border-box;
    background-color: #fff;
}

#userinfor_right span {
    flex: 1;
    text-align: center;
}

#userinfor_right span:first-child {
    border-right: 1px solid #cdcdcd;
}

#userinfor_right span i {
    font-weight: 700;
}

#userinfor_right ul {
    width: 100%;
}

#userinfor_right li {
    padding: 10px 0;
    margin-bottom: -1px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 15px;
}

#userinfor_right li:first-child {
    border-top: 1px solid #cdcdcd;
}

#userinfor_right li i {
    float: right;
}

#userinfor_blurb {
    position: relative;
    width: 710px;
    height: 200px;
    margin-bottom: 10px;
    border-radius: 4px;
    padding: 30px 30px 10px;
    background-color: #fff;
}

#userinfor_top img {
    width: 90px;
    height: 90px;
    margin-right: 30px;
    border-radius: 100px;
}

#userinfor_blurb h2 {
    margin-bottom: 30px;
}

#userinfor_my {
    display: none;
}

.my_logo a {
    color: #828282;
    font-size: 18px;
    margin-left: 16px;
}

#userinfor_my button {
    position: absolute;
    right: 30px;
    bottom: 80px;
    padding: 5px 10px;
    border-radius: 4px;
    border: 1px solid #007fff;
    color: #007fff;
    font-size: 18px;
    background-color: #fff;
}

#userinfor_other {
    display: none;
    position: absolute;
    right: 30px;
    bottom: 70px;
}

#userinfor_other button {
    width: 90px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid #4193ff;
    color: #1e80ff;
    font-size: 14px;
    background-color: rgba(30, 128, 255, .1);
    cursor: default;
}

#userinfor_other button i {
    margin-right: 10px;
}

#userinfor_other button:first-child {
    color: #fff;
    background-color: #007fff;
}

#userinfor_other button:hover {
    background-color: rgba(30, 128, 255, .2);
}

#userinfor_other button:first-child:hover {
    background-color: #006eff;
}

#userinfor_medal {
    position: absolute;
    bottom: 0;
    left: 30px;
    line-height: 20px;
    width: calc(100% - 60px);
    padding: 10px 0;
    border-top: 1px solid #cdcdcd;
}

#userinfor_medal img {
    width: 18px;
    margin-right: 10px;
    vertical-align: middle;
}

#userinfor_nav {
    height: 50px;
    line-height: 30px;
    padding: 10px;
    border-radius: 4px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
    background-color: #fff;
    overflow: hidden;
}

#userinfor_nav li {
    position: relative;
    float: left;
    margin-right: 20px;
}

#userinfor_nav li:hover {
    color: #828282;
}

.blueBottom::after {
    content: '';
    position: absolute;
    bottom: -9px;
    left: 50%;
    width: 60%;
    height: 3px;
    border-radius: 4px;
    background-color: #007fff;
    transform: translateX(-50%);
}

#userinfor_list {
    background-color: #fff;
}


/* 文章内容 */

#userinfor_list h3 {
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    border-bottom: 1px solid #cdcdcd;
    font-size: 16px;
}

.userEssay {
    position: relative;
    width: 100%;
    height: 132px;
    padding: 15px 20px 0;
}

.userEssay::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 95%;
    height: 1px;
    background-color: #dddddd;
}

.userEssay:last-child::after {
    display: none;
}

.main_essayImg {
    position: absolute;
    bottom: 12px;
    right: 20px;
    /* width: 120px; */
    height: 80px;
}

.userEssay span {
    padding: 0 10px;
    color: #585858;
    font-size: 16px;
    line-height: 16px;
    border-left: 1px solid #cdcdcd;
}

.userEssay .main_writer {
    padding-left: 0;
    border: 0;
}

.userEssay h4 {
    line-height: 34px;
}

.userEssay p {
    display: inline-block;
    width: 100%;
    height: 20px;
    color: #585858;
    font-size: 15px;
    overflow: hidden;
}

.userEssay ul {
    position: absolute;
    bottom: 12px;
    color: #585858;
    font-size: 15px;
}

.userEssay li {
    float: left;
    margin-right: 20px;
}

.userEssay li:hover {
    color: #1e80ff;
}


/* 关注内容 */

#userFollow_list {
    display: none;
    background-color: #fff;
}

#userFollow_nav {
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
}

#userFans {
    display: none;
}

#userFollow_list h3 {
    float: left;
    width: 40%;
    height: 48px;
    line-height: 48px;
    padding: 0 20px;
    font-size: 16px;
}

#userFollow_nav ul {
    float: right;
    width: 40%;
    height: 48px;
    line-height: 48px;
    font-size: 16px;
}

#userFollow_nav li {
    float: left;
    margin: 0 10px;
}

.userFollow_user {
    position: relative;
    width: 100%;
    height: 92px;
    line-height: 40px;
    padding: 20px;
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
}

.userFollow_userImg {
    float: left;
    width: 48px;
    height: 48px;
    border-radius: 48px;
    margin-right: 20px;
}

.userFollow_userName {
    float: left;
    width: 60%;
}

.userFollow_userFollow {
    position: absolute;
    top: 55px;
    left: 105px;
    height: 12px;
    line-height: 12px;
    color: #828282;
    font-size: 12px;
}