#addEssay {
    display: none;
    width: 100%;
    height: 100%;
    background-color: #fff;
}

#addessay_head {
    height: 64px;
    line-height: 64px;
    padding: 0 30px;
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
}

#addessay_header {
    width: 45%;
    height: calc(100% - 2px);
    font-size: 24px;
}

#addessay_head em {
    color: #828282;
    font-size: 12px;
    font-weight: 100
}

#addessay_head button {
    padding: 8px 12px;
    margin: 0 5px;
    border: 1px solid #1e80ff;
    border-radius: 2px;
    color: #1e80ff;
    background-color: #fff;
}

#addessay_head button:nth-child(3) {
    color: #fff;
    background-color: #1e80ff;
}

#addessay_head button:nth-child(3):hover {
    background-color: #4896fd;
}

#addessay_head span {
    margin: 0 10px;
}

#addessay_head img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    border-radius: 40px;
    vertical-align: middle;
}

#addEssay_nav {
    width: 100%;
    height: auto;
    padding: 0 30px;
    border-bottom: 1px solid #cdcdcd;
    overflow: hidden;
}


/* 
#addEssay_nav:after,
#addEssay_nav:before {
    content: "";
    display: table;
}

#addEssay_nav:after {
    clear: both;
}

#addEssay_nav {
    *zoom: 1;
} */

#addEssay_nav ul {
    display: flex;
    height: 32px;
    line-height: 24px;
    padding: 4px 0;
    box-sizing: border-box;
    overflow: hidden;
}

#addEssay_nav li {
    flex: 1;
    width: 24px;
    color: #000;
    border-radius: 2px;
    font-size: 14px;
    text-align: center;
}

#addEssay_nav li:hover {
    background-color: rgba(0, 0, 0, .2);
}


/* #addEssay_nav .left li {
    margin-right: 20px;
}

#addEssay_nav .right li {
    margin-left: 20px;
} */

#addessay_body {
    width: calc(100% - 60px);
    height: calc(100% - 147px);
    padding: 8px 30px;
    font-size: 14px;
    resize: none;
}