@font-face {
  font-family: "iconfont"; /* Project id 3982709 */
  src: url('iconfont.woff2?t=1680093556771') format('woff2'),
       url('iconfont.woff?t=1680093556771') format('woff'),
       url('iconfont.ttf?t=1680093556771') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-left:before {
  content: "\e83d";
}

.icon-right:before {
  content: "\e841";
}

.icon-logitech-50:before {
  content: "\e62c";
}

.icon-logo-logitech-overlay_fuzhi:before {
  content: "\e600";
}

.icon-shixindiqiu:before {
  content: "\e62e";
}

.icon-diqiu:before {
  content: "\e699";
}

.icon-zhanghu:before {
  content: "\e62b";
}

.icon-ego-caidan:before {
  content: "\e62f";
}

.icon-zhanghu1:before {
  content: "\e6a1";
}

.icon-sousuo:before {
  content: "\e69b";
}

.icon-sousuo1:before {
  content: "\e636";
}

.icon-caidan:before {
  content: "\e653";
}

.icon-caidan1:before {
  content: "\eaf1";
}

.icon-sousuo2:before {
  content: "\e69e";
}

.icon-zhanghu2:before {
  content: "\e7e5";
}

.icon-3:before {
  content: "\e61a";
}

.icon-search:before {
  content: "\e840";
}

